$input-color: #000000;
$input-border: #CDD9ED;
$input-background: #fff;
$input-placeholder: #CBD1DC;

$input-border-focus: #275EFE;

$group-color: var($input-color);
$group-border: var($input-border);
$group-background: #EEF4FF;

$group-color-focus: #fff;
$group-border-focus: var($input-border-focus);
$group-background-focus: #678EFE;

body {
    display: flex;
    flex-flow: column wrap;
    background-color: #a7bcfd;
    $input-color: #99A3BA;
    $input-border: #CDD9ED;
    $input-background: #fff;
    $input-placeholder: #CBD1DC;

    $input-border-focus: #275EFE;

    $group-color: var($input-color);
    $group-border: var($input-border);
    $group-background: #EEF4FF;

    $group-color-focus: #fff;
    $group-border-focus: var($input-border-focus);
    $group-background-focus: #678EFE;
}

#root {
    display:flex;
    flex-flow: column wrap;
    $input-color: #99A3BA;
    $input-border: #CDD9ED;
    $input-background: #fff;
    $input-placeholder: #CBD1DC;

    $input-border-focus: #275EFE;

    $group-color: var($input-color);
    $group-border: var($input-border);
    $group-background: #EEF4FF;

    $group-color-focus: #fff;
    $group-border-focus: var($input-border-focus);
    $group-background-focus: #678EFE;

}

.task {
    width: 70%;
}

.textboxContainer{
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    #textbox {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    #textbox {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 18px;
        line-height: 25px;
        color: $group-color;
        background: $group-background;
        border: 1px solid $group-border;
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: $group-color-focus;
            background: $group-background-focus;
            border-color: $group-border-focus;
        }
    }
}
h1 {
    color: #0d2c3f;
}

#textbox {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: $input-color;
    border: 1px solid $input-border;
    background: $input-background;
    transition: border .3s ease;
    &::placeholder {
        color: $input-placeholder;
    }
    &:focus {
        outline: none;
        border-color: $input-border-focus;
    }
}

.delete {
    color: #494949;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.delete:hover{
    color: #ffffff ;
	background: #e76b64;
	border-color: #e76b64;
	transition: all 0.4s ease 0s;
}

.taskContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ced9fc;
    border-radius: 20px;
    border-style: solid;
    border-color: #ffffff;
    margin: 5px;
    
}

.task {
    margin: 5px;
    font-family: verdana;
    font-size: 20px;
}

.appContain {
    display: flex;
    flex-flow: column wrap;
    
}





input[type = checkbox] {
    display: none;
  }
  
  input + label {
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--blue);
    border-radius: 50%;
    background: var(--darkblue);
    transition: .1s all;
    cursor: pointer;
    z-index: 999 !important;
  }
  
  input + label:hover {
    transform: scale(.95);
  }
  
  input + label:after {
    content: "👺";
  }
  
  input:checked + label {
    background: var(--blue);
    transform: scale(1.1);
  }
  
  input:checked + label:hover {
    background: var(--blue);
    transform: scale(1.05);
  }
  
  input:checked + label:after {
    content: "☑️";
  }